body{
    
}
h3 ,h2{
    border-style: dotted;
    border-color: red green blue black;
    padding:40px 20px 30px 50px;
}
h1 {
    border:3px solid purple;
    border-radius: 25px;
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
}